.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: small;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
